package.json
package-lock.json
testEslint/
testProject/
testTslint/
testWorkspaceFolder/
coverage/
db/
nats/
redis/
logs/
plugins/
.vscode/
postgres/
mariadb/
mysql/
.dockerignore
.DS_Store
.env
.env.sample
.eslintignore
.gitignore
.gitmodules
.npmrc
.prettierignore
.snyk
*.code-workspace
*Dockerfile
helm/
*.hbs
*.db
*.lock
.husky/
LICENSE